{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Cafe'  %}</title>
    <link href="{% static 'landing_page/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'landing_page/landing_base_css.css' %}" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'landing_page/home.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href="https://static.neshan.org/sdk/openlayers/5.3.0/ol.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script type="text/javascript" src="https://static.neshan.org/sdk/openlayers/5.3.0/ol.js"></script>
    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif

        }
    </style>
</head>
<body style="background-color:lightyellow;z-index: 99">
<div class="container-fluid">

    <!--    Header-->
    <div style="position: sticky;top: 0;z-index: 99" class="row">
        <form class="h_button" action="{% url 'landingpage:home' %} " method="get">
            {{ form.as_P }}
            {% csrf_token %}
            <input class="h_button" type="submit" value="Home">
        </form>
        <form class="h_button" action="{% url 'landingpage:about' %} " method="get">
            {{ form.as_P }}
            {% csrf_token %}
            <input class="h_button" type="submit" value="About">
        </form>
         <form class="h_button" action="{% url 'landingpage:contactus' %} " method="get">
            {{ form.as_P }}
            {% csrf_token %}
            <input class="h_button" type="submit" value="CONTACT US">
        </form>
         <form class="h_button" action="{% url 'landingpage:menu' %} " method="get">
            {{ form.as_P }}
            {% csrf_token %}
            <input class="h_button" type="submit" value="MENU">
        </form>
         <form class="h_button" action="{% url 'landingpage:orderlist' %} " method="get">
            {{ form.as_P }}
            {% csrf_token %}
            <input class="h_button" type="submit" value="ORDER LIST">
        </form>

    </div>

    <!--    Body-->
    <div class="row" id="content">
        {% block main %}{% endblock %}

    </div>

    <!--    Footer-->
    <div class="row footer">

        <p style="margin-top: 2rem; color: white">Produced By <a href="https://github.com/amirrezakiani081">S.A.H.A</a>
        </p>
    </div>
</div>
{#<script>#}
{#    function content_include(name) {#}
{#        $.get("{{ url_for('page_content') }}", {'name': name}, function (response) {#}
{#            $('#content').html('')#}
{#            $('#content').html(response)#}
{#        })#}
{#    }#}
{#</script>#}
</body>
</html>